<form [formGroup]="editForm" (ngSubmit)="submitForm()" novalidate>
  <div>
    <label >Ten</label>
    <input type="text" formControlName="ten" class="form-control">
  </div>
  <div >
    <label >Ten Nhom</label>
    <select  class="form-control" formControlName="tenNhom">
      <option value="Nhom 1">Nhom 1 </option>
      <option value="Nhom 2">Nhom 2</option>
      <option value="Nhom 3">Nhom 3</option>
    </select>
  </div>
  <div>
    <label >Ten De Tai</label>
    <input type="text" formControlName="tenDeTai" class="form-control">
  </div>
  <div >
    <label >Giao Vien</label>
    <select  class="form-control" formControlName="giaoVien" class="form-control">
      <option value="Hai">Hai </option>
      <option value="Trung">Trung</option>
      <option value="Tien">Tien</option>
    </select>
  </div>
  <div>
    <label >Email</label>
    <input type="text" formControlName="email" class="form-control">
  </div>
  <div>
    <label >SDT</label>
    <input type="text" formControlName="sdt" class="form-control" >
  </div>
  <div>
    <button type="submit" (click)="editForm.valid">Save</button>
  </div>
</form>
